@use '../../config/index.scss' as config;

.container {
  width: config.$container-xxl;
  margin: 0 auto;

  @media (max-width: config.$xl) {
    width: config.$container-xl;
  }

  @media (max-width: config.$lg) {
    width: config.$container-lg;
  }

  @media (max-width: config.$md) {
    width: config.$container-md;
  }

  @media (max-width: config.$sm) {
    width: config.$container-sm;
  }

  @media (max-width: config.$xs) {
    width: config.$container-xs;
    padding: 0 20px;
  }

}