@use '../config/index.scss' as config;

@use '../style-components/container/container.scss';
@use '../style-components/typography/typography.scss';
@use '../style-components/button/button.scss';


body {
  background-color: config.$colors-bg;
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: config.$colors-bg-gradient;
  color: config.$colors-white;

  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
}