$black: #000;
$white: #fff;

$bg: #10111b;
$bg-light: rgba(26, 31, 57, 1);

$bg-gradient: linear-gradient(0deg, rgba(16, 17, 27, 1) 0%, rgba(26, 31, 57, 1) 100%);

$purple: #514a92;
$purple-dark: #433c87;
$purple-light: #8077e3;
$purple-bg: #908db0;

$gold: rgb(123, 116, 76);

$shadow: 0px 0px 15px 5px #8278e8;

$shadow-gryf: 0px 0px 15px 5px #8d1919;
$shadow-slyth: 0px 0px 15px 5px #3d8427;
$shadow-rav: 0px 0px 15px 5px #1a39aa;
$shadow-huff: 0px 0px 15px 5px #9b8913;

$shadow-dark: 0px 0px 20px 10px #120d23;
$shadow-light: 0px 0px 12px 0px #1e1e21