$black: #000;
$white: #fff;

$bg: #10111b;
$bg-light: rgba(26, 31, 57, 1);

$bg-gradient: linear-gradient(0deg, rgba(16, 17, 27, 1) 0%, rgba(26, 31, 57, 1) 100%);

$purple: #514a92;
$purple-dark: #433c87;