@use '../../core/config/index.scss' as config;

.random-btn {
  padding: 35px;
  background-color: config.$colors-bg-light;

  display: flex;
  flex-direction: column;

  p {
    font-size: 24px;
    font-weight: 500;

    &:nth-of-type(n+2) {
      margin-top: auto;
    }
  }

  &--trigger {
    margin-top: 15px;
    width: 150px;

    @media (max-width: config.$md) {
      margin-top: 30px;
      width: 100%;
    }
  }
}