@use '../../core/config/index.scss' as config;

.search-form {
  padding: 35px;
  background-color: config.$colors-bg-light;
  box-shadow: config.$colors-shadow-dark;

  &__header {
    font-size: 22px;
    font-weight: 600;

    margin-bottom: 15px;
  }

  .form {
    &__input {
      display: flex;
      gap: 10px;

      input {
        width: 100%;
        font-size: 18px;
        border-bottom: 1px solid config.$colors-gold;

        &::placeholder {
          color: config.$colors-white;
          opacity: 0.5;
        }
      }
    }

    .button--search {
      padding: 3px;
      border-radius: 50%;
    }
  }
}