@use '../../config/index.scss' as config;

.s-random {
  &__body {
    display: flex;
    border: 1px solid config.$colors-gold;
    box-shadow: config.$colors-shadow-dark;

    @media (max-width: config.$md) {
      flex-direction: column;
    }

    &>* {
      width: 50%;

      @media (max-width: config.$md) {
        width: 100%;
      }
    }
  }
}